{% extends "base.html" %}
{% load static %}
{% block content %}

<h2><a href="{% url 'sort_books_asc'  %}">Sort Books in Ascending Order</a></h2><h2><a href="{% url 'sort_books_desc'  %}">Sort Books in Descending Order</a></h2>
        {% for book in books %}
        {% if book.user_id == user.id %}
        
        <h2><a href="{% url 'book_detail' pk=book.pk %}">{{ book.title }} {% if book.favorite %} {{book.favorite}} {% endif %}</a></h2>

    <ul>{{book.author}}</ul>
    <ul>{{book.description}}</ul>
    <ul>{{book.url}}</ul>
    <ul>{{book.date}}</ul>
    <ul><a href="{% url 'add_favorite' pk=book.pk %}">Add to Favorites</a><a href="{% url 'remove_favorite' pk=book.pk %}">        Remove Favorite</a></ul>
{% endif %}
    {% endfor %}
{% endblock %}